#advice {
    @extend %page-padding;
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    h1.title{
        color:#fff;
        margin-bottom: 30px;
    }
    // ol.advice-list{
    //     list-style-type: none;
    //     li {
    //         font-size: 1.05rem;
    //         margin-bottom: 1.5rem;
    //         .course {
    //             font-weight: bolder;
    //             font-style: normal;
    //         }
    //         .date {
    //             font-style: normal;
    //             margin-left: 0.5rem;
    //         }
    //     }
    // }
    ul.advice-list {
        list-style-type: disc;
        li {
            font-size: 0.95rem;
            margin-bottom: 0.5rem;
            a, em, span {
                font-size: 0.95rem;
            }
        }
    }
}