---
layout: page
---
<div id="teaching">
  <section class="bg"></section>
  <h1 class="title">{{ page.title }}</h1>
  <ol class="teaching-list">
    {% for _ in site.data.teaching %}
      {% assign teaching = _.teaching %}
      <li>
        <em class="title">{{ teaching.title }}</em> at <em class="event">{{ teaching.event }}</em> <em class="date">({{ teaching.date }})</em>
        <p class="comment">{{ teaching.comment | markdownify }}</p>
        <div class="links">
          {%- if teaching.slides %}
            [<a href="{{ teaching.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>]
          {%- endif %}
        </div>
      </li>
    {% endfor %}
  </ol>
</div>