---
layout: page
---
<div id="teaching">
  <section class="bg"></section>
  <h1 class="title">{{ page.title }}</h1>
  <ol class="teaching-list">
    {% for _ in site.data.teaching %}
      {% assign teaching = _.teaching %}
      <li>
        <em class="course">{{ teaching.course }}</em>
        <ul class="term-list">
            {% for term in teaching.terms %}
            <li>
                {% if term.excellent %}
                    <span>&dagger;</span>
                {% endif %}
                {%- if term.site %}
                    <a href="{{ term.site }}" class="btn btn-sm z-depth-0 term" role="button">{{ term.termname }}</a>
                {%- else %}
                    <span class="term">{{ term.termname }}</span> 
                {%- endif %}
                
                <em class="jobtitle">({{ term.title }})</em>
                <!-- <p class="comment">{{ term.comment | markdownify }}</p> -->
            </li>
            {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
  <p>&dagger; &mdash; Recognized for excellent <a href="https://citl.illinois.edu/citl-101/measurement-evaluation/teaching-evaluation/teaching-evaluations-(ices)/teachers-ranked-as-excellent">teaching evaluations</a></p>
</div>